.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
}

.modal {
  width: 40vw;
  position: absolute;
  top: 13%;
  right: 12%;
  background-color: white;
  border-radius: 10px;
  z-index: 10000000;
  overflow: hidden;
  padding: 1em;
  box-shadow: 2px 2px 15px rgba(0,0,0,0.1) , -2px -2px 15px rgba(0,0,0,0.1);
  display: none;
}

@media only screen and (min-width: 900px) {
  .backdrop {
    display: block;
  }

  .modal {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  .modal {
    width: 25vw;
  }
}