.button {
  width: 130px;
  padding: 1em;
  border-radius: 15px;
  font-weight: 600;
  transition: 0.3s;
  background-color: var(--Vibrant-red);
  color: white;
  font-size: 0.9em;
}

.button:hover,
.button:active {
  background-color: var(--Warm-yellow);
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}